body {
  text-align: center;
}

.post_button {
  /* background: dodgerblue; */
  text-decoration: none;
  color: black;
  padding: 5px 10px 5px 10px;
  border-radius: 5px ;
  border: 2px solid dodgerblue;
}

.post_button:hover {
cursor: pointer;
background: grey
}

.list_item {
  list-style-type: none;

}